@media screen and (max-width: 600px) {
  .container_menu-title > h1 {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
  }

}
