.container_small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container_small-card-content {
  display: flex;
  flex-direction: row;
}

.container_small-card-separator {
  margin-top: 10px;
}

.small-card-img > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  height: 100%;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
